name: "multistage-mvc"
trigger:
  branches:
    include:
      - master
  paths:
  include:
    - net5app/*

pool:
  vmImage: "ubuntu-latest"

variables:
  azureSubscription: "Visual Studio Enterprise (78033352-805c-4acd-af80-f8f95083268d)"
  buildConfiguration: "Release"
  apiPath: "net5app/"
  appService: "net5-mvc-at"

stages:
  - stage: "Build"
    jobs:
      - job: "Build"
        displayName: "Build Api"

        steps:
          - task: UseDotNet@2
            displayName: "Install .NET 5 SDK"
            inputs:
              packageType: "sdk"
              version: "5.x"

          - script: dotnet build **/net5app.csproj --configuration $(buildConfiguration)
            displayName: "dotnet build $(buildConfiguration)"

          - task: DotNetCoreCLI@2
            inputs:
              command: "publish"
              publishWebProjects: true
              arguments: "--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)"

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "$(Build.ArtifactStagingDirectory)"
              ArtifactName: "drop"
              publishLocation: "Container"

  - stage: "Deploy"
    jobs:
      - job: "Deploy"
        displayName: "Deploy Api"

        steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              artifactName: "drop"
              targetPath: "$(System.DefaultWorkingDirectory)"

          - task: AzureWebApp@1
            displayName: "Azure Web App Deploy"
            inputs:
              azureSubscription: "conHosting"
              appType: "webApp"
              appName: "$(appService)"
