name: "ng-ui-blobstorage"
trigger:
  branches:
    include:
      - master
  paths:
    include:
      - ngUI/*

pool:
  vmImage: "ubuntu-latest"

variables:
  azureSubscription: "Visual Studio Enterprise (78033352-805c-4acd-af80-f8f95083268d)"
  uiPath: "ngUI/"

stages:
  - stage: Build

    jobs:
      - job: Build

        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: "12.x"
            displayName: "Install Node.js"

          - script: |
              npm install -g @angular/cli
              npm install
              ng build --prod
            displayName: "npm install and build"
            workingDirectory: $(uiPath)

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "ngUI/dist/ngUI"
              ArtifactName: "ngapp"
              publishLocation: "Container"
            displayName: "Publish build"
